<?xml version="1.0" encoding="utf-8"?>
<config>
    <fieldset name="cinetixx" label="Cinetixx">
        <field name="mandator_id" type="text" default="" label="Mandator ID" />
    </fieldset>

    <fieldset name="kinoheld" label="Kinoheld">
        <field
            name="booking_link_type"
            type="list"
            default="newtab"
            label="Buchungslink Typ"
            description="Wie Buchungslinks geöffnet werden sollen"
        >
            <option value="newtab">Neuer Tab</option>
            <option value="sametab">Gleicher Tab</option>
            <option value="modal">Modal</option>
        </field>
    </fieldset>
</config>
